*
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#toolbar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(35, 36, 37);
    color: white;
    width: 100%;
    height: 50px;
}

.button {
    float: left;
    margin-left: 20px;
    padding: 5px;
    height: 30px;
    margin-top: 10px;
    color: white;
}

#adding-line-btn {
    background-color: rgb(102, 18, 18);
}

#adding-line-btn:hover {
    background-color: rgb(221, 31, 31);
    cursor: pointer;
}

#adding-single-arrow-line-btn {
    background-color: rgb(9, 128, 78);
}

#adding-single-arrow-line-btn:hover {
    background-color: rgb(155, 210, 172);
    cursor: pointer;
}

#deactivate-adding-shape-btn {
    background-color: rgb(5, 5, 117);
}

#deactivate-adding-shape-btn:hover {
    background-color: rgb(42, 55, 159);
    cursor: pointer;
}

#main-shapes-container {
    position: absolute;
    top: 50px;
    right: 0px;
    padding: 10px;
    background-color: rgb(177, 177, 17);
}

#secondary-shapes-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.shape-btn {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(177, 17, 17);
    cursor: pointer;
}

.shape-btn:hover {
    border: rgb(148, 148, 148);
}

#adding-line-btn {
    content: url(/images/416_slash.png)
}